# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
media/
staticfiles/
*.db
backend/*.db


# Migrations cache
**/migrations/**
!**/migrations/__init__.py

# SQLite database
*.sqlite3
*.db
*.database
tangen-torv.db
backend/tangen-torv.db

# VS Code
.vscode/
.venv/

# Node/Frontend
node_modules/

# OS junk
.DS_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/

# Python cache & tools
pip-log.txt
pip-delete-this-directory.txt
.pyre/
.pytype/
pytest_cache/
.mypy_cache/

# Environment variables
*.env
.env.*
sendgrid.env