services:
  sqlite-web:
    image: coleifer/sqlite-web:latest
    command: ["sqlite_web", "-H", "0.0.0.0", "/data/tangen-torv.db"]
    ports:
      - "8080:8080"
    volumes:
      - ./:/data

  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=sqlite:///tangen-torv.db
    ports:
      - "5000:5000"
    volumes:
      - ./tangen-torv.db:/app/tangen-torv.db


