services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    volumes:
        - db_data:/var/lib/postgresql/data
        - ./database.sql:/docker-entrypoint-initdb.d/database.sql
    ports:
      - "5432:5432"
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html
    depends_on:
      - app

  app:
      build:
        context: .
        dockerfile: Dockerfile
      environment:
        - DATABASE_URL=postgres://user:password@db:5432/mydatabase
      ports:
        - "5000:5000"
      depends_on:
        - db

volumes:
  db_data:


